/* App Cascading Style Sheet */
.app {
  background-color: darkblue;
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header { /* orig color #282c34 */
  background: darkblue;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  display: none;
}

.App-toggle {
  background: black;
  color: gold;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--- App Multi-Component Styles ---*/
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 40px;
  min-height: 80px;
}


/* Style the Header/logo Title */
.header {
  padding: 6px;
  text-align: center;
  background: #269faf;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
/* Left-aligned link */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sit next to each other */
/* Content Main column */
/* Content Airborne images for this application */
.main {
  padding: 8px;
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  min-width: 72px;
  min-height: 48px;
}

.showPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #679;
  margin: auto;
  padding: 8px;
  align-self: center;
  width: fit-content;
  height: fit-content;

}

.flightPicture {
  background-color: darkgreen;
  padding: 8px;
  align-self: center;
  width: 100%;
  height: 100%;
  visibility: visible;
  pointer-events: none;
}

/* Sidebar/right column */
/* Content image selection */
.side {
  margin: 0px;
  -ms-flex: auto; /* IE10 */
  flex: auto;
  background-color: #f2f2f2;
}

.sidebarPictures {
  display: compact;
  align-items: center;
  justify-content: center;
  background-color: #679;
  margin: auto;
  padding: 8px;
  align-self: center;
  width: fit-content;
  height: fit-content;
}

.thumbnail {
  background-color: darkgreen;
  padding: 8px;
  align-self: center;
  width: 90px;
  height: 70px;
  cursor: pointer;
  visibility: visible;
  pointer-events: all;
}

/* Footer */
.footer {
  min-height: 1px;
  padding: 1px;
  text-align: center;
  background: #ddd;
  max-height: 6vh
}
